.page {
    display: grid;
    grid-template-columns: 20vw auto;
}

.feedbox {
    grid-column-start: 2;
    padding: 10px;
}

.container-fluid {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: start;
    align-items: start;
    flex-direction: column;
}

.tab--slider, .tab--slider2 {
    width: 100%;
    float: left;
}

.tab--slider {
    background-color: whitesmoke;
}
.tab--container, .tab--container2 {
    width: 100%;
    margin-top: 0;
}

.tab--container {
    padding: 0;
    background-color: whitesmoke;
}

.tab--tabs, .tab--tabs2 {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    height: 35px;
    user-select: none;
}

.tab--tabs::after, .tab--tabs2::after {
    content: "";
    width: 50%;
    background: #4e79a8;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: 20px;
}

.tab--tabs.slide::after, .tab--tabs2.slide2::after {
    left: 50%;
}

.tab-slider--trigger, .tab-slider--trigger2 {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none;
}

.tab-slider--trigger:active, .tab-slider--trigger2:active {
    color: white;
}

.tab--body, .tab--body2 {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
}

.form-body {
    width: 100%;
}

.form-body textarea {
     width: 100%;
     border: none;
     margin-bottom: 20px;
     border-bottom: 2px solid #4e79a8;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: start;
    flex-direction: column;
}

.form-actions--container {
    width: 100%;
    margin-bottom: 20px;
}

.form-actions--container input {
     margin-right: 20px;
     border: none;
     border-bottom: #4e79a8 2px solid;
}

.form-button {
     float: right;
     margin-bottom: 0;
}

select {
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -mox-appearance: none;
    border-bottom: #4e79a8 2px solid;
    color: black;
    transition: all .4 ease-in-out;
}

select:hover {
    cursor: pointer;
}

select option {
    border: 0;
    border-bottom: 1px solid #4e79a8;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.feed-post {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    align-content: start;
    justify-content: start;
    padding: 10px;
    border: 2px whitesmoke solid;
    cursor: pointer;
    transition: 0.4s;
}

.feed-post:hover {
    transform: scale(0.9, 0.9);
}

.poster {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px lightgray solid;
    height: 100%;
}

.feed-post > .post-main {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
}

.post-chip {
    background-color: whitesmoke;
    border-radius: 35px;
    color: black;
    text-align: left;
    width: 100%;
    padding: 5px;
}

.post-main > .post-body {
    width: 100%;
    padding: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #4e79a8;
}

.paginate  > .latest {
    float: left;
}

.paginate  > .oldest {
    float: right;
}