body {
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Main logo styling */
.logo {
    display: block;
    margin-bottom: 8vh;
    width: calc(20vh + 5vw);
    height: calc(20vh + 5vw);
}

.logo svg {
    display: block;
    fill: #4e79a8;
    margin: 0 auto; 
    width: inherit;
    height: inherit;
}
    
/* Icon Styling */
.material-icons-outlined {
    float: left;
    color: #4e79a8;
    padding: 0px;
}

.material-icons-outlined.md-32 { 
    font-size: 32px; 
}

/* Forms */
.formbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.formbox .row {
    margin: 2px;
}

.formbox form {
    width: 30% + 50px;
    margin: 0px;
}

.formbox input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #959595;
    padding: 2px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#submit {
    border: none;
    background: #4e79a8;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
    color: #ffffff;
}

#undertext {
    color: #4e79a8;
    font-size: 12px;
}

.navbar {
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: nowrap;
}

.nav-link {
    color: #4e79a8;
    display: flex;
    justify-content: center;
}