.highlight-box {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
    max-height: 600px;
}

.highlight {
    margin-right: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    text-align: center;
}

.highlight .picture-box img {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
}

.highlight:nth-child(2) span { 
    font-size: 20px;
}

.highlight:nth-child(2) img {
    height: 140px;
    width: 140px;

}

.list-group {
    counter-reset: rank;
}

.list-group li {  
    counter-increment: index;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.list-group li:hover {
    background-color: whitesmoke;
}

.list-group li .citizen-info {
    font-size: 1.2rem;
}

.list-group .rank {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    align-self: flex-start;
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #4e79a8;
}

.badge {
    background-color: #4e79a8;
    font-size: 1rem;
    color: white;
}

.pagination {
    margin-top: 20px;
    float: right;
}

.pagination .page-link {
    color: #4e79a8;
}

