.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "header"
        "main"; 
    height: 100vh;
}

.main {
    padding: 10px;
    grid-area: main;
    overflow-y: auto;
    overflow-x: hidden;
}


.menu-icon {
    position: fixed;
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    color: #4e79a8;
}

.sidenav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-100vw);
    transition: all .4s ease-in-out; 
    background-color: #f8f8f8;
    z-index: 3;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav-close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
}

.drawer-icon {
    width: 30px;
}

.sidenav-list {
    padding: 0;
    list-style: none;
}

.sidenav-list:hover {
    cursor: pointer;
}

@media only screen and (min-width: 750px) {
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: 
        "nav header"
        "nav main";
    }

    .sidenav {
        width: 240px;
        position: relative;
        transform: translateX(0);
    }

    .sidenav-close-icon {
        visibility: hidden;
    }
}

.sidenav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#nav-logo {
    width: 90px;
    margin-bottom: 5vh;
    margin-top: 8vh;
}


.nav-item {
    width: 70%;
    margin-bottom: 15px;
} 

.nav-link {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #4e79a8;
}

.nav-icon {
    width: calc(10% + 20px);
    float: left;
}
.nav-link p {
    margin: 15px;
    font-weight: lighter;
}

.nav-log {
    margin-top: auto;
    margin-bottom: 0;
}