{% extends "sidebar-base.html" %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">
{% endblock%}

{% block content %}
    <h3>Citizens</h3>
    {% if success %}
        <div class="alert alert-info" role="alert">
            Citizen deleted successfully. Please refresh the page to update the citizen roster.
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            There was an error in deleting selected user.
        </div>
    {% endif %}
    <ul class="list-group">
        {% for citizen in citizens %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><span class="rank">{{ loop.index }}</span> 
                {% if citizen.permission == 'admin' %}
                    <span class="perm">Admin</span>
                {% else %}
                    <span class="perm">Citizen</span>
                {% endif %}
                <a href="{{ url_for('profile', citizen_id=citizen.citizen_id) }}">{{ citizen.citizen_id }}</a>
                </span>
                <span class="badge badge-pill">{{ citizen.score }}</span>
            </li>
        {% endfor %}
    </ul>

    <div class="citizen-actions">
        <button class="btn btn btn-danger" data-toggle="modal" data-target="#delete-window"> 
            Delete Citizen
        </button>
    </div>

    <div class="pagination">
        {% if prev %}
            <a class="page-link" href="{{ prev }}">Higher</a>
        {% endif %}

        {% if next %}
            <a class="page-link" href="{{ next }}">Lower</a>
        {% endif %}
    </div>

    <div class="modal fade" id="delete-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Which Citizen would you like to delete?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" novalidate>
                <div class="modal-body">
                    {{ delete.hidden_tag() }}
                    
                    {{ delete.citizen_id(placeholder="Citizen ID") }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ delete.delete_submit(class="btn btn-danger") }}
                </div>
            </form>
          </div>
        </div>
    </div>
{% endblock %}