{% extends "sidebar-base.html" %}

{% block content %}
<div class="feedbox">
     <p>Feed</p>
     <a href="{{ url_for('logout')}}">Logout</a>
     <div class="container-fluid">
          <div id="formtabs" class="tab--slider">
               <ul id="formsections" class="tab--tabs">
                    <li class="tab-slider--trigger active" rel="report-tab">
                         Report
                    </li>
                    <li class="tab-slider--trigger" rel="status-tab">
                         Status
                    </li>
               </ul>
          </div>
          <div class="tab--container">
               <div id="report-tab" class="tab--body">
                    <form method="post">
                         {{ form.hidden_tag() }}
                         <div class="form-body">
                              {{ form.body(size=140) }} 
                         </div>
                         <div class="form-actions">
                              <div class="form-actions--container">
                                   {{ form.traitor(size=8) }}
                                   {{ form.category }}
                              </div>
                              <div class="form-button">
                                   {{ form.report_submit() }}
                              </div>
                         </div>
                    </form>
               </div>

               <div id="status-tab" class="tab--body">
                    <form method="post">
                         {{ status_input.hidden_tag() }}
                         <div class="form-body">
                              {{ status_input.status(size=140) }}
                         </div>
                         <div class="form-actions">
                              <div class="form-actions--container">
                                   {{ status_input.status_category }}
                              </div>
                              <div class="form-button">
                                   {{ status_input.status_submit() }}
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
     <div class="container-fluid">
          <div id="mainfeed" class="tab--slider">
               <ul id="main-tabs" class="tab--tabs">
                    <li class="tab-slider--trigger active" rel="recent-reports">
                         Recent Report
                    </li>
                    <li class="tab-slider--trigger" rel="recent-stats">
                         Recent Status
                    </li>
               </ul>
          </div>
          <div class="tab--container">
               <div id="recent-reports" class="tab--body">
                    {% for report in reports %}
                         {{ report.reporter_id }}
                         {{ report.reported_id }}
                         {{ report.report_category }}
                         {{ report.time }}
                         {{ report.body }}
                    {% endfor %}
               </div>
               <div id="recent-stats" class="tab--body">
                    {% for status in statuses %}
                         {{ status.citizen_id }}
                         {{ status.body }}
                         {{ status.timestamp }}
                         {{ status.status_category }}
                    {% endfor %}
               </div>
          </div>
     </div>
    
</div>
<script>
    $("document").ready(function(){
           $(".tab--body").hide();
           $(".tab--body:first").show();
           $("#recent-stats").show();
           $("#recent-reports").hide();

      });

      $("#formtabs li").click(function() {
           $("#report-tab").hide();
           $("#status-tab").hide();
           var activeTab = $(this).attr("rel");
           $("#" + activeTab).fadeIn();
                if ($(this).attr("rel") == "status-tab"){
                     $('#formsections').addClass('slide');
                }
                else{
                     $('formsections').removeClass('slide');
                }
           $("#formtabs li").removeClass("active");
           $(this).addClass("active");
      });

      $("#mainfeed li").click(function() {
           $("#recent-reports").hide();
           $("#recent-stats").hide();
           var activeTab = $(this).attr("rel");
           $("#" + activeTab).fadeIn();
                if ($(this).attr("rel") == "recent-stats"){
                     $('#main-tabs"').addClass('slide');
                }
                else{
                     $("#main-tabs").removeClass('slide');
                }
           $("#mainfeed li").removeClass("active");
           $(this).addClass("active");
      });
 </script>
{% endblock content %}