{% extends "login-base.html" %}

{% block content %}
    <div class="formbox">
        <form class="form" action="#" method="post" >
            {{ form.hidden_tag() }}
            <div class="input_field row">
                <i class="material-icons-outlined md-32 col-sm-2 d-none d-sm-block">person</i>
                {{ form.citizen_id(class="col-sm-10") }}
            </div>
            <div class="input_field row">
                <i class="material-icons-outlined md-32 col-sm-2 d-none d-sm-block">lock</i>
                {{ form.password(class="col-sm-10") }}
            </div>
                {{ form.submit() }}
        </form>
        <a id="register" href="{{ url_for('register')}}">Create an account</a>
    </div>
    <script>
        $(document).ready(function() {
            $('#citizen_id, #password').addClass('form-control');
            $('#submit').addClass('btn btn-primary');
        });
    
    </script>
{% endblock content %}