<html lang="en">
    <head>
        <!-- CDN and Meta -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Actual content -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
        <title>{{ title }} - Arch</title>
    </head>

    <body>
        <div class="container">
            <div class="logo">
                <svg enable-background="new 0 0 1000 1000" version="1.1" viewBox="0 0 1e3 1e3" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <path class="st0" d="m496.5 27.5c93 80 428.88 312.72 439 949l-145-90c-12-467-294-684-294-684s-288 230-294 684l-145 90c0-247 68-676 439-949z"/>
                </svg>
            </div>
            {% block content %} {% endblock content %}
            <nav class="navbar fixed-bottom">
                <div class="nav">
                        {% for link in links %}
                        <div class="nav-item">
                            <a class="nav-link" href="{{ link.path }}">{{ link.text }}</a>
                        </div>
                        {% endfor %}
                </ul>
            </nav>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>