{% extends "sidebar-base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
     <div class="profilebox">
          <div class="pic-container">
               <img id="profile_pic" class="image" src="{{ citizen.profile_image }}">
               <div class="overlay">
                    <button class="btn" onclick="request_random_img()">Random Picture</button>
               </div>
          </div>
     </div>
     <div class="statusbox">
          {% for stat in status %}
          <div class="feed-post">
               <div class="poster">
                         <span>{{ stat.timestamp.strftime('%H:%M, %d-%m-%Y') }}</span>
                    </div>
                    <div class="post-main">
                         <div class="post-chip">
                              {{ stat.status_category }}
                         </div>
                         <div class="post-body">
                              {{ stat.body }}
                         </div>
                    </div>
               </div>
          {% endfor %}
     </div>
     <div class="pagination">
          {% if prev %}
               <a class="page-link" href="{{ prev }}">Latest</a>
          {% endif %}

          {% if next %}
               <a class="page-link" href="{{ next }}">OLdest</a>
          {% endif %}
     </div>
     <script>
          function request_random_img() {
               var xhttp = new XMLHttpRequest();
               xhttp.open("GET", "/profile/random_img", true);
               xhttp.send();
          }
     </script>
{% endblock content %}