{% extends "sidebar-base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
     <div class="profilebox">
          <div class="pic-container">
               <img id="profile_pic" class="image" src="{{ citizen.profile_image }}">
               <div class="overlay">
                    <button class="btn" onclick="request_random_img()">Random Picture</button>
               </div>
          </div>
     </div>
     <script>
          function request_random_img() {
               var xhttp = new XMLHttpRequest();
               xhttp.open("GET", "/profile/random_img", true);
               xhttp.send();
          }
     </script>
{% endblock content %}