{% extends "sidebar-base.html" %}

{% block style %}
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/rank.css') }}">
{% endblock %}

{% block content %}
     <h3>Noteworthy Citizens</h3>
     <ul class="highlight-box">
          {% for top in tops %}
               <li class="highlight">
                    <div class="picture-box">
                         <img src="{{ top.profile_image }}" />
                    </div>
                    <span>Citizen <a href="{{ url_for('profile', citizen_id=top.citizen_id) }}">{{ top.citizen_id }}</a></span>
                    <span>{{ top.score }}</span>
               </li>
          {% endfor %}

     </ul>

     <h3>Standings</h3>
     <ol class="list-group">
          {% for citizen in citizens %}
               <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="rank">
                         {{ loop.index }}
                    </span>
                    <span class="citizen-info">
                         Citizen <a href="{{ url_for('profile', citizen_id=citizen.citizen_id) }}">{{ citizen.citizen_id }}</a>
                    </span>
                    <div class="badge badge-pill">
                         {{ citizen.score }}
                    </div>
               </li>
          {% endfor %}
     </ol>
     <div class="pagination">
          {% if prev %}
               <a class="page-link" href="{{ prev }}">Higher</a>
          {% endif %}

          {% if next %}
               <a class="page-link" href="{{ next }}">Lower</a>
          {% endif %}
     </div>
{% endblock content %}