{% extends "base.html" %}
{% block head %}    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/feed.css') }}">
{% endblock %}

{% block body %}
    <div class="page">
        <div class="nav">
            <img id="nav-logo" src="{{ url_for('static', filename='assets/logotext.svg') }}" alt="Arch">
            <ul id="nav-list">
                <li class="nav-item">test</li>
                <li class="nav-item">test2</li>
            </ul>
        </div>
            {% block content %} {% endblock content %}
    </div>
{% endblock %}